$bgCol: #f3a154;
$navCol: #ef7547;
$lightOrange: lighten($navCol, 30%);
$darkOrange: darken($navCol, 30%);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: $bgCol;
}

.navItem,
.navButton {
  background-color: $navCol;
  a {
    color: black;
  }
}
.navButton {
  border: none;
  width: 120%;
}
.navItem:hover,
.navButton:hover,
.navItemCurrent {
  background-color: $lightOrange;
}

.searchResult {
  border: 2px double whitesmoke;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 1.5rem;
}

.searchbar {
  width: 100%;
  font-size: 16pt;
}

/*a:link {
  color: $bgCol;
}*/

a:hover {
  color: darken($navCol, 20%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

//Homepage

.btn-round {
  border-radius: 20px;
  border: none;
  color: grey;
  background-color: white;
  text-decoration: none !important;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
  font-size: 1rem;
}

.btn-round:hover {
  transform: scale(1.2);
}

.banner-blue,
.banner-orange {
  h3,
  p {
    color: white;
  }
  border-radius: 8px;
}

.banner-orange {
  background-image: linear-gradient(
    to bottom,
    #f3a154,
    #f2964f,
    #f28c4b,
    #f08049,
    #ef7547
  );
}

.banner-blue {
  background-image: linear-gradient(
    to bottom,
    #54d6f3,
    #2dc7f6,
    #09b6f8,
    #22a4f6,
    #4790ef
  );
}

//Colours
.orange {
  color: $navCol;
  text-emphasis-color: $navCol;
}

#searchButton,
#dropdown button {
  border-radius: 0 0 0 0;
  background-color: $navCol;
  border-color: $bgCol;
  z-index: 1;
  position: relative;
  color: black;
}

#dropdown button:hover,
#searchButton:hover {
  border-radius: 0 0 0 0;
  background-color: $lightOrange;
  border-color: $lightOrange;
}

.btn-darkOrange,
.btn-lightOrange,
.btn-orange {
  border-radius: 8px;
  border: none;
}

.btn-lightOrange {
  background-color: $lightOrange;
}

.btn-lightOrange:hover {
  background-color: $bgCol;
}

.btn-darkOrange {
  background-color: $navCol;
}

.btn-darkOrange:hover {
  background-color: $darkOrange;
}

.btn-orange {
  background-color: $bgCol;
}

.btn-orange:hover {
  background-color: $navCol;
}

.btn-quantity {
  font-size: 2rem;
  width: 3rem;
}

.btn-wide {
  width: 20%;
  padding: 2%;
}

/* The sidebar menu ------------------------------------------------------------------------------------------------------------------------ */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.mobileNav {
  display: none;
}

.desktopNav {
  display: block;
}

/* On smaller screens make the navigation menu better */
@media screen and (max-width: 480px) {
  .mobileNav {
    display: block;
  }

  .desktopNav {
    display: none;
  }

  .nav-link {
    font-size: 2rem;
  }

  .navButton {
    padding: 5px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 480px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .btn-wide {
    width: 40%;
    padding: 2%;
  }
}
/* Scrollbar of the sidebar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

// Unused -------------------------------------
/*
.carousel-indicators li {
  background-color: #555252;
}
.carousel-indicators .active {
  background-color: $navCol;
}

.featuredDescription {
  color: rgb(109, 109, 109) !important;
  text-shadow: white 1px 1px 2px;
}
*/
